.blog_page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:6em;
    height: min-content !important;
}

h2 {
    text-align: center;
}
