.card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.cardContent {
    margin-left: 2vw;
}

.cardHeader {
    font-size: 3vw;
    color: #457b9d;
}

.cardDesc {
    font-size: 2.3vw;
}

img {
    width: 6vw;
}

