p{
 text-align: center;

}

.logo{
    display: block;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}

.ResearchChoice{
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
}

.aboutus{
    background-color: #e63946 !important;
    width: 35vw;
    height: auto;
    color : white !important;
    font-size: 3vw !important;
    display: block !important;
    margin-top: 4vh !important;
    margin-left: auto !important;
    margin-right: auto !important ;
    margin-bottom: 2vh !important;
}

.textCont, .searchText {
    font-weight: bolder;
    font-size: 3vw;
}

.textCont {
    color: #1E3557;
    padding: 5vw;
}

.ui.page {
    background-color: rgb(230,57,70,.95) !important;
    opacity: 0.5;
}

.landingIcon {
    margin-bottom: 2vh;
}

.contactFiles {
    display: flex;
    flex-flow: row;   
    justify-content: center;
}

.nameDiv {
    margin-top: 4vh;
}

.contactData {
    margin-top: 4vh;
    margin-right: 7vw;
    margin-left: 7vw;
}

.textPres {
    padding: 2vw;
}