p{
 text-align: center;
 font-size: large;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 z-index: 10000000000000000px;
}

.ui.button{
    background-color: #e63947ea !important;
    color : white !important;
    margin: auto !important;
    display: flex !important;
    
}

.textCont, .searchText {
    font-weight: bolder;
    font-size: 1.5em;
    text-transform: capitalize;
}

.textCont {
    color: #1E3557;
    padding: 2.5em;
}

.ui.page {
    background-color: rgba(54, 5, 9, 0.931)mportant;
    opacity: 0.5;
}

.landingIcon {
    margin-bottom: 20%;
}

i.icon{
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.contactFiles {
    display: flex;
    flex-flow: row;   
    justify-content: center;
}

.nameDiv {
    margin-top: 4vh;
}

.contactData {
    margin-top: 4vh;
    margin-right: 7vw;
    margin-left: 7vw;
}

#linkedin {
    filter: invert(96%) sepia(4%) saturate(0%) hue-rotate(286deg) brightness(105%) contrast(103%);
    width: 10vw;}
    
.textPres {
    padding: 2vw;
}

.research{
    text-align: center;
    display: flex;
    flex-direction: column;
  padding-bottom: 5em;
  padding-top: 5em;
}





  