.buttonReturn {
    background-color: #e63946 !important;
    color : white !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important ;
}

.destResTitle {
    padding :1em !important;
    text-align: center;
    color: #1E3557;
}
.card {
    text-align: center;
    margin: 1em !important;
}

.bodytreat {
    padding: 2em !important;
    display : flex;
    justify-content: center;
    flex-flow: column nowrap;   
    
}
.content {
    padding: 1em !important;
    text-align: center !important;
}

#resultCity {
    display: flex;
    text-align: left !important;
    margin: none !important;
    padding-top: 3% !important;
}

.resultCont {
    padding-top: 2% !important;
}

#resDestHeader {
    font-size: 4vw;
    color: #e63946 !important;
}

.destAddress {
    margin-top: 2vh;
    font-size: 2vh !important;
}

.destDesc {
    font-size: 2vh;
    margin-top: 2vh;
}