.buttonReturn {
    background-color: #e63946 !important;
    color : white !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important ;
}

.destResTitle {
    padding :1em !important;
    text-align: center;
    color: #1E3557;
}
.card {
    text-align: center;
    margin: 1em !important;
}

.bodytreat {
    padding: 2em !important;
    display : flex;
    justify-content: center;
    flex-flow: column nowrap;   
    
}
.content {
    padding: 1em !important;
    text-align: center !important;
}

#resultCity {
    display: flex;
    text-align: left !important;
    margin: none !important;
    padding-top: 3% !important;
    padding-bottom: 2vh !important;
}

.resultCont {
    padding-top: 2% !important;
}

/* Calendar */

.App {
  text-align: right;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#resDestHeader {
    font-size: 4vw;
    color: #e63946 !important;
}

.destAddress {
    margin-top: 2vh;
    font-size: 3vw !important;
}

.destDesc {
    font-size: 3.5vw;
    margin-top: 2vh;
}