.searchDest_page {
    margin-bottom: 1em;
}
.submit{
    background-color : #e63946 !important; 
    color : white !important;
}
.searchDest {
    padding :0.3em !important;
    text-align: center;
    color: #1E3557;
}
.btnCountry {
    width: 20em;
    padding: 1em !important;
    margin-bottom: 0.2em;
}
.imgDiv {
    width: 100%;
    
}
.cityImg {
    width: 28em;
    border-image-width: 1em;
    block-size: inherit;
    object-fit: cover;
}
