.searchDest_page {
    margin-bottom: 1em;
}
.submit{
    background-color : #e63946 !important; 
    color : white !important;
}


.ui.cards{
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    margin : auto ! important;
    width: 60%;
    margin-top: 3em !important;

}

h1 {
    text-align: center;
}

.ui.button{
   display: flex !important;
   justify-content: center !important;
}