
#toothImg, #procreationImg, #cosmeticImg, #weighImg {
    width: 10em;
    margin: auto ;
    border-style:solid 1px !important;
    border-color: #e63946 !important;
    background-color :white!important; 
    padding-top: 1em;
    padding-bottom: 1em;
}